In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Q1.  Who are the top 5 users in Banglore with the highest number of followers? List their login in order, comma-separated

In [2]:
users = pd.read_csv('users.csv')
users.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,krishnaik06,Krish C Naik,PANASONIC IIC,Bangalore,krishnaik06@gmail.com,False,Data Scientist with ML and Deep Learning expe...,330,30894,0,2016-06-20T09:25:45Z
1,championswimmer,Arnav Gupta,JIOCINEMA,"Bangalore, India",dev@championswimmer.in,True,Director of Engineering - @JioCinema ┃\r\nPast...,351,4661,29,2012-01-13T07:41:40Z
2,arpitbbhayani,Arpit Bhayani,DICEDB,Bangalore,NaN,True,"Creator of @DiceDB • ex-Google Dataproc, ex-Am...",188,4555,3,2013-06-20T06:40:12Z
3,manjunath5496,Manjunath.R,MYW3SCHOOLS.COM,"Bangalore, India",manjunath5496@gmail.com,False,"""Science is not only a disciple of reason but,...",1563,4083,9313,2016-06-16T05:02:32Z
4,tanaypratap,Tanay Pratap,INVACT,"Bangalore, India",tanay.mit@gmail.com,False,Founder & CEO @invact . Teacher @neogcamp,40,3030,1,2014-12-17T05:15:06Z

In [3]:
users['hireable'] = users['hireable'].fillna(False).astype(bool)

In [4]:
top5 = users.sort_values(by='followers', ascending=False).head()
print(','.join(top5['login'].tolist()))

krishnaik06,championswimmer,arpitbbhayani,manjunath5496,tanaypratap

#### Q2. Who are the 5 earliest registered GitHub users in Banglore? List their login in ascending order of created_at, comma-separated.

In [5]:
users['created_at'] = pd.to_datetime(users['created_at'])

In [6]:
top_earliest = users.sort_values(by='created_at').head()
print(','.join(top_earliest['login'].tolist()))

anandology,irfn,jace,abhisek,abhin4v

#### Q3. What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [7]:
repos = pd.read_csv('repositories.csv')
repos.head()

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,krishnaik06,krishnaik06/Polars-GPU-Engine-Demo,2024-10-28T08:42:45Z,1,1,Jupyter Notebook,True,True,gpl-3.0
1,krishnaik06,krishnaik06/Transformers-Materials,2024-10-19T15:43:30Z,9,9,NaN,True,True,gpl-3.0
2,krishnaik06,krishnaik06/ETLWeather,2024-10-15T10:45:09Z,9,9,Python,True,True,gpl-3.0
3,krishnaik06,krishnaik06/datasets,2024-10-08T05:16:12Z,3,3,NaN,True,True,gpl-3.0
4,krishnaik06,krishnaik06/testdagshub,2024-10-01T16:57:42Z,0,0,NaN,True,True,NaN

In [8]:
repos['license_name'].value_counts().head(3)

license_name
mit           10582
apache-2.0     3703
other          2386
Name: count, dtype: int64

#### Q4. Which company do the majority of these developers work at?

In [9]:
users['company'].value_counts().head(1)

company
GOOGLE    15
Name: count, dtype: int64

#### Q5. Which programming language is most popular among these users?

In [10]:
repos['language'].value_counts().head(1)

language
JavaScript    8733
Name: count, dtype: int64

#### Q6. Which programming language is the second most popular among users who joined after 2020?

In [11]:
users_after_2020 = users[users['created_at'] > '2020-01-01']
users_after_2020.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
25,bigint,Bigint,HEYXYZ,"Bangalore, India",NaN,True,Creator of @heyxyz 🌸,22,1117,196,2020-08-09 17:17:58+00:00
28,techiescamp,TechiesCamp,TECHIESCAMP BY DEVOPSCUBE,Bangalore,NaN,False,Practical DevOps Learning Platform - Follow @t...,54,1111,1,2022-06-06 15:09:55+00:00
30,saadozone,Saad Bin Noman,VANANAM ENTERPRISE,Bangalore,NaN,False,I'm a passionate Full Stack Developer with exp...,10,1085,2171,2023-02-20 09:51:28+00:00
43,yua-9,Yusra Pikhwal,PATAACOPY,"Bangalore,india",NaN,True,Python Lover || \r\nDjango is my crush || \r...,3,767,1298,2020-12-03 20:03:45+00:00
63,keralahacker,Hackwithvyshu,HACK WITH VYSHU,Bangalore,NaN,False,X-BlackHat 🎩 Hacker | Engineer,204,598,1,2020-05-03 19:45:11+00:00

In [12]:
repos_2020 = repos[repos['login'].isin(users_after_2020['login'].tolist())]
repos_2020['language'].value_counts().head()

language
JavaScript    1679
HTML           659
CSS            589
Python         301
TypeScript     183
Name: count, dtype: int64

#### Q7. Which language has the highest average number of stars per repository?

In [13]:
avg_stars = repos.groupby('language')['stargazers_count'].mean()
top_lang = avg_stars.idxmax()
top_stars = avg_stars.max()
print(top_lang, top_stars)

Pascal 92.0

#### Q8. Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [14]:
users['leader_strength'] = users['followers'] / (1 + users['following'])
top5_lead = users.sort_values(by='leader_strength', ascending=False).head()
print(','.join(top5_lead['login'].tolist()))

krishnaik06,Hack-with-Github,laxmimerit,tanaypratap,abhishh1

#### Q9. What is the correlation between the number of followers and the number of public repositories among users in Banglore?

In [15]:
correlation = users['followers'].corr(users['public_repos'])
correlation

0.19242631347959915

#### Q10. Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

In [16]:
import csv
followers = []
public_repos = []
with open('users.csv', 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)
    for row in reader:
        followers_count = int(row['followers'])
        public_repos_count = int(row['public_repos'])
        followers.append(followers_count)
        public_repos.append(public_repos_count)
if len(followers) > 1 and len(public_repos) > 1:
    slope, intercept = np.polyfit(public_repos, followers, 1)
    
    print(f"{slope:.3f}")
else:
    print("Error")

2.356

#### Q11. Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

In [17]:
if repos['has_projects'].dtype == 'object':
    repos['has_projects'] = repos['has_projects'].map({'true': True, 'false': False})
if repos['has_wiki'].dtype == 'object':
    repos['has_wiki'] = repos['has_wiki'].map({'true': True, 'false': False})
    
correlation = repos['has_projects'].corr(repos['has_wiki'])
    
print(round(correlation, 3))

0.196

#### Q12. Do hireable users follow more people than those who are not hireable?

In [18]:
hireable_avg_following = users[users['hireable'] == True]['following'].mean()
non_hireable_avg_following = users[users['hireable'] == False]['following'].mean()
difference = hireable_avg_following - non_hireable_avg_following
difference

61.96454186838801

#### Q13. Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode characters) with followers? (Ignore people without bios)

In [19]:
import pandas as pd
from sklearn.linear_model import LinearRegression
# Load the CSV file into a DataFrame
users = pd.read_csv('users.csv')
# Filter users with non-empty 'bio' and create a new column 'bio_len' for the length of the bio
users_with_bio = users[(users['bio'].notna()) & (users['bio'] != '')].copy()
users_with_bio.loc[:, 'bio_len'] = users_with_bio['bio'].str.len()
# Prepare the data for linear regression
X = users_with_bio['bio_len'].values.reshape(-1, 1)
y = users_with_bio['followers']
# Perform linear regression
lr2 = LinearRegression()
lr2.fit(X, y)

# Print the coefficient
print(lr2.coef_[0])

-0.056677963223112686

#### Q14. Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

In [20]:
import csv
from collections import Counter
from datetime import datetime

weekend_repo_counts = Counter()

with open('repositories.csv', 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        created_at = row.get('created_at', '')
        if created_at:
            created_date = datetime.fromisoformat(created_at[:-1])  
            
            if created_date.weekday() in [5, 6]:
                user_login = row['login']
                weekend_repo_counts[user_login] += 1  

top_users = weekend_repo_counts.most_common(5)

top_logins = [user[0] for user in top_users]

print(','.join(top_logins))

itaditya,avinassh,sangam14,manjunath5496,championswimmer

#### Q15. Do people who are hireable share their email addresses more often?

In [21]:
fraction_hierable = users[users['hireable'] == True]['email'].notna().mean()
fraction_non_hierable = users[users['hireable'] == False]['email'].notna().mean()
diff = fraction_hierable - fraction_non_hierable
diff

0.19282320243858703

#### Q16. Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [22]:
new_users = users[users['name'].notna()].copy()
new_users['surname'] = new_users['name'].str.split().str[-1].str.strip()
surname_counts = new_users['surname'].value_counts()
max_count = surname_counts.max()
common_surnames = surname_counts[surname_counts == max_count].index.tolist()
common_surnames.sort()
print(','.join(common_surnames))

Singh

In [23]:
# users = users.fillna("").astype(str)
# repos = repos.fillna("").astype(str)

# repos['has_wiki'] = repos['has_wiki'].astype(str).replace({'True': 'true', 'False': 'false'})
# repos['has_projects'] = repos['has_projects'].astype(str).replace({'True': 'true', 'False': 'false'})

# # users.to_csv('users1.csv', index=False)
# repos.to_csv('repos1.csv', index=False)